#wrap {
    width: 1120px;
    height: 768px;
    padding: 0;
    overflow: hidden;
  }
  #scaled-frame {
    width: 1280px;
    height: 1024px;
    border: 0px;
  }
  #scaled-frame {
    /*zoom: 0.75;*/
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
  }